<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Project</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/index.css" />
    <script src="./data/lessons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <h2>AfterLessons</h2>

        <!-- This is the search bar -->
        <div>
          <div class="search" v-show="!showCart" st>
            <input
              type="text"
              v-model="searchedItem"
              v-on:input="searchLessons"
            />
          </div>

          <button style="border-radius: 30px; border: 1px solid gray">
            <div v-on:click="showCart = !showCart" class="cartIcon">
              <i
                class="fa-solid fa-cart-shopping"
                style="color: #9b9d9f; margin-right: 10px"
              ></i>
              <div>
                <p>{{cart.length}}</p>
              </div>
              Go to Cart
            </div>
          </button>
        </div>
      </header>

      <!-- Sort -->
      <h3 v-show="!showCart">Sort Lessons by:</h3>
      <div class="sort" v-show="!showCart">
        <div class="sortby">
          <div>
            <input
              type="radio"
              name="sort"
              value="subject"
              id="subject"
              v-model="picked"
              v-on:change="sortLessons(picked)"
            />
            <label for="subject">Subject</label>
          </div>
          <div>
            <input
              type="radio"
              name="sort"
              value="location"
              id="location"
              v-model="picked"
              v-on:change="sortLessons(picked)"
            />
            <label for="location">Location</label>
          </div>
          <div>
            <input
              type="radio"
              name="sort"
              value="price"
              id="price"
              v-model="picked"
              v-on:change="sortLessons(picked)"
            />
            <label for="price">Price</label>
          </div>
          <div>
            <input
              type="radio"
              name="sort"
              value="spaces"
              id="spaces"
              v-model="picked"
              v-on:change="sortLessons(picked)"
            />
            <label for="spaces"> Space Available</label>
          </div>
        </div>
        <select
          v-show="showSortOrder"
          v-model="selected"
          v-on:change="orderLesson()"
        >
          <option disabled value="">Select Order</option>
          <option :disabled="initialRender">Ascending</option>
          <option>Descending</option>
        </select>
      </div>
      <!-- End of sort -->

      <!-- Beginning of lessons available -->
      <!-- <div class="lessons" v-if="!showCart">
        <div class="activities">
          <div v-for="activity in filteredList">
            <i v-bind:class="activity.icon"></i>
            <p>Subject: {{activity.subject}}</p>
            <p>Location: {{activity.location}}</p>
            <p>Price: £ {{activity.price}}</p>
            <p>Spaces: {{activity.spaces}}</p>
            <button
              v-bind:disabled="activity.spaces <= 0"
              v-on:click="addToCart(activity,true)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div> -->
      <!-- End of lessons -->

      <div class="lessons" v-if="!showCart">
        <div class="activities">
          <div v-for="activity in afterSchoolActivity">
            <i v-bind:class="activity.icon"></i>
            <p>Subject: {{activity.subject}}</p>
            <p>Location: {{activity.location}}</p>
            <p>Price: £ {{activity.price}}</p>
            <p>Spaces: {{activity.spaces}}</p>
            <button
              v-bind:disabled="activity.spaces <= 0"
              v-on:click="addToCart(activity,true)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <!-- This is for the cart section -->
      <div class="cart" v-else>
        <p>This is the cart section</p>
        <div class="activities">
          <div v-for="activity in cart" v-show="activity.availableSpace > 0">
            <i v-bind:class="activity.icon"></i>
            <p>Subject: {{activity.subject}}</p>
            <p>Location: {{activity.location}}</p>
            <p>Price: £ {{activity.price}}</p>
            <p>Price: £ {{activity.price}}</p>
            <p>Booked Slots: {{activity.availableSpace}}</p>
            <button v-on:click="removeFromCart(activity)">
              Remove from Cart
            </button>
          </div>
        </div>
        <div class="totalincart">
          <h3>Cart Total: £ {{totalInCart}}</h3>
        </div>

        <div class="checkout" style="margin-top: 20px" v-show="cart.length > 0">
          <h3>Checkout</h3>
          <form>
            <div>
              <div>
                <label for="name">Name:</label>
                <input type="text" v-model="name" />
              </div>
              <div>
                <label for="name">Phone:</label>
                <input type="tel" v-model="phoneNumber" />
              </div>
            </div>

            <button
              type="submit"
              :disabled="!isNameandNumberValid"
              v-on:click="checkout"
            >
              Checkout
            </button>
          </form>
        </div>
        <div class="noItem" v-show="cart.length <= 0">
          <p>Your cart is empty</p>
        </div>
      </div>
      <!-- End of cart section -->
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/fontawesome.min.js"
      integrity="sha512-64O4TSvYybbO2u06YzKDmZfLj/Tcr9+oorWhxzE3yDnmBRf7wvDgQweCzUf5pm2xYTgHMMyk5tW8kWU92JENng=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          showCart: false,
          showSortOrder: false,
          searchedItem: "",
          initialRender: true,
          name: "",
          phoneNumber: "",
          picked: "",
          selected: "",
          afterSchoolActivity: [],
          cart: [],
        },
        computed: {
          isNameandNumberValid() {
            const namePattern = /^[a-zA-Z ]+$/;
            const phoneNumberTest =
              /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
            return (
              namePattern.test(this.name) &&
              phoneNumberTest.test(this.phoneNumber)
            );
          },
          totalInCart() {
            let total = 0;
            for (let index = 0; index < this.cart.length; index++) {
              let value =
                this.cart[index].price * this.cart[index].availableSpace;
              total += value;
            }
            return total;
          },
          filteredList() {
            return this.afterSchoolActivity.filter((lesson) => {
              return (
                lesson.subject
                  .toLowerCase()
                  .includes(this.searchedItem.toLowerCase()) ||
                lesson.location
                  .toLowerCase()
                  .includes(this.searchedItem.toLowerCase())
              );
            });
          },
        },
        created() {
          this.getLessons();
        },
        methods: {
          addToCart(lesson, type) {
            if (lesson.availableSpace > 0) {
              lesson.availableSpace++;
            } else {
              lesson.availableSpace++;
              this.cart.push(lesson);
            }
            lesson.spaces--;
          },

          removeFromCart(lesson) {
            this.afterSchoolActivity.map((element) => {
              if (lesson.id == element.id) {
                lesson.spaces++;
                lesson.availableSpace--;
              }
            });
            this.cart = this.cart.filter(
              (element) => element.availableSpace != 0
            );
          },
          sortLessons(selected) {
            this.selected = "";
            this.initialRender = true;
            this.showSortOrder = true;
            switch (selected) {
              case "subject":
                this.afterSchoolActivity = this.afterSchoolActivity.sort(
                  (a, b) => a.subject.localeCompare(b.subject)
                );
                break;
              case "location":
                this.afterSchoolActivity = this.afterSchoolActivity.sort(
                  (a, b) => a.location.localeCompare(b.location)
                );
                break;
              case "price":
                this.afterSchoolActivity = this.afterSchoolActivity.sort(
                  (a, b) => parseFloat(a.price) - parseFloat(b.price)
                );
                break;
              case "spaces":
                this.afterSchoolActivity = this.afterSchoolActivity.sort(
                  (a, b) => a.spaces - b.spaces
                );
                break;
            }
          },
          async getLessons() {
            try {
              const response = await fetch(
                `http://cst3145-env.eba-s5bibdnn.us-east-1.elasticbeanstalk.com/collections/lessons`,
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                  },
                }
              );
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              const responseData = await response.json();
              console.log(responseData);
              this.afterSchoolActivity = responseData;
              return responseData; // Save the data in a component variable
            } catch (error) {
              // Handle errors
              console.error(error);
            }
          },
          async pushOrder() {
            try {
              const response = await fetch(
                `http://cst3145-env.eba-s5bibdnn.us-east-1.elasticbeanstalk.com/collections/orders`,
                {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    // Your data to be updated goes here
                    name: this.name.toString(),
                    phoneNumber: this.phoneNumber,
                    lessons: this.cart.map((item) => {
                      return {
                        lesson_id: item._id,
                        spaceTaken: item.availableSpace,
                      };
                    }),
                  }),
                }
              );
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              const responseData = await response.json();
              if (responseData.insertedId != null) {
                for (i = 0; i < this.cart.length; i++) {
                  console.log(this.cart[i]._id);
                  await this.updateData(this.cart[i]._id, this.cart[i].spaces);
                }
              }
              return responseData;
            } catch (error) {
              // Handle errors
              console.error("Error updating data:", error.message);
            }
          },
          async searchLessons() {
            try {
              const response = await fetch(
                `http://cst3145-env.eba-s5bibdnn.us-east-1.elasticbeanstalk.com/search/collections/lessons?q=${this.searchedItem}`,
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                  },
                }
              );
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              const responseData = await response.json();
              this.afterSchoolActivity = responseData;
              return responseData; // Save the data in a component variable
            } catch (error) {
              // Handle errors
              console.error(error);
            }
          },
          async updateData(entryId, spacesLeft) {
            try {
              const response = await fetch(
                `http://cst3145-env.eba-s5bibdnn.us-east-1.elasticbeanstalk.com/collections/lessons/${entryId}`,
                {
                  method: "PUT",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    spaces: spacesLeft,
                  }),
                }
              );

              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              const responseData = await response.json();
              return responseData;
            } catch (error) {
              console.error("Error updating data:", error.message);
            }
          },
          orderLesson() {
            this.initialRender = false;
            this.afterSchoolActivity.reverse();
          },
          async checkout(e) {
            e.preventDefault();
            const result = await this.pushOrder();
            if (result.insertedId != null) {
              alert(
                `Dear ${this.name} your order has been submitted. You shall be contacted on ${this.phoneNumber}`
              );
              location.reload(true);
            } else {
            }
          },
        },
      });
    </script>
  </body>
</html>
