<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <div id="app">
      <div v-show="showDiv">This div tag can be hidden</div>
      <p>{{message}}</p>

      <!-- <button v-on:click="sortLessons()">Sort by Location</button> -->
      <div class="sortby">
        <input
          type="radio"
          name="sort"
          value="subject"
          v-model="picked"
          v-on:change="sortLessons(picked)"
        />
        Subject<br />
        <input
          type="radio"
          name="sort"
          value="location"
          v-model="picked"
          v-on:change="sortLessons(picked)"
        />
        Location<br />
        <input
          type="radio"
          name="sort"
          value="price"
          v-model="picked"
          v-on:change="sortLessons(picked)"
        />
        Price<br />
        <input
          type="radio"
          name="sort"
          value="spaces"
          v-model="picked"
          v-on:change="sortLessons(picked)"
        />
        Space Available
      </div>

      <div v-on:click="showCart =  !showCart">
        <i class="fa-solid fa-cart-shopping" style="color: #407807"></i>
        <p>{{cart.length}}</p>
      </div>

      {{selected}}
      <select v-model="selected" v-on:change="orderLesson()">
        <option disabled value="">Please select</option>
        <option :disabled="initialRender">Ascending</option>
        <option>Descending</option>
      </select>

      <div class="lessons" v-if="!showCart">
        <div class="activities">
          <div v-for="x in afterSchoolActivity">
            <!-- <i class="fas fa-table    "></i> -->
            <i v-bind:class="x.icon"></i>
            <p>Subject: {{x.subject}}</p>
            <p>Location: {{x.location}}</p>
            <p>Price: £ {{x.price}}</p>
            <p>Spaces: {{x.spaces}}</p>
            <!-- v-show="x.spaces > 0"  -->
            <button
              v-bind:disabled="x.spaces <= 0"
              v-on:click="addToCart(x,true)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="cart" v-else>
        <h2>This is the cart section</h2>
        <div class="activities">
          <div v-for="x in cart" v-show="x.availableSpace > 0">
            <i v-bind:class="x.icon"></i>
            <p>Subject: {{x.subject}}</p>
            <p>Location: {{x.location}}</p>
            <p>Price: £ {{x.price}}</p>
            <p>Booked Slots: {{x.availableSpace}}</p>
            <button v-on:click="removeFromCart(x)">Remove from Cart</button>
          </div>
        </div>
        <div class="checkout">
          <h3>Checkout</h3>
          <form>
            <div>
              <label for="name">Name:</label>
              <input type="text" v-model="name" />
            </div>
            <div>
              <label for="name">Phone:</label>
              <input type="tel" v-model="phoneNumber" />
              {{isNameandNumberValid}}
            </div>
            <button
              type="submit"
              :disabled="!isNameandNumberValid"
              v-on:click="checkout"
            >
              Checkout
            </button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/fontawesome.min.js"
      integrity="sha512-64O4TSvYybbO2u06YzKDmZfLj/Tcr9+oorWhxzE3yDnmBRf7wvDgQweCzUf5pm2xYTgHMMyk5tW8kWU92JENng=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- <script src="./data/lessons.js"></script> -->
    <script type="module">
      import lessons from "./data/lessons.js";
      const app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
          showDiv: false,
          showCart: false,
          showButton: true,
          initialRender: true,
          name: "",
          phoneNumber: "",
          picked: "",
          selected: "",
          afterSchoolActivity: lessons,
          // afterSchoolActivity: [
          //   {
          //     id: 1,
          //     icon: "fa-solid fa-pencil",
          //     subject: "Maths",
          //     location: "London",
          //     price: 100,
          //     spaces: 5,
          //     availableSpace: 0,
          //   },
          //   {
          //     id: 2,
          //     icon: "fas fa-table",
          //     subject: "English",
          //     location: "London",
          //     price: 100,
          //     spaces: 5,
          //     availableSpace: 0,
          //   },
          //   {
          //     id: 3,
          //     subject: "Physics",
          //     location: "London",
          //     price: 100,
          //     spaces: 5,
          //     availableSpace: 0,
          //   },
          //   {
          //     id: 4,
          //     icon: "fas fa-table",
          //     subject: "Geography",
          //     location: "Birminghem",
          //     price: 90,
          //     spaces: 5,
          //     availableSpace: 0,
          //   },
          //   {
          //     id: 5,
          //     icon: "fas fa-table",
          //     subject: "Orange",
          //     location: "Manchester",
          //     price: 100,
          //     spaces: 4,
          //     availableSpace: 0,
          //   },
          // ],
          // sortedProducts: this.afterSchoolActivity.sort((p1, p2) =>
          //   p1.price < p2.price ? 1 : p1.price > p2.price ? -1 : 0
          // ),
          cart: [],
        },
        computed: {
          isNameandNumberValid() {
            const namePattern = /^[a-zA-Z ]+$/;
            const phoneNumberTest =
              /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
            return (
              namePattern.test(this.name) &&
              phoneNumberTest.test(this.phoneNumber)
            );
          },
        },
        methods: {
          addToCart(lesson, type) {
            // console.log(sortedProducts);
            // if (this.cart.length == 0) {
            //   this.cart.push(lesson);
            //   // console.log("this is badd");
            // } else {
            //   for (let i = 0; i < this.cart.length; i++) {
            //     // console.log(this.cart[i].id);
            //     // if (i <= this.cart.length - 1) {
            //     // console.log(this.cart.length);
            //     if (this.cart[i].id == lesson.id) {
            //       //   this.cart[i].spaces++;
            //       console.log("test " + this.cart[i].id);
            //       // if (type) {
            //       //   this.cart[i].spaces++;
            //       // }
            //       ++this.cart[i].spaces;
            //       break;

            //       // console.log(lesson.id);
            //       // console.log(this.cart[i].spaces);
            //     } else {
            //       // if it is not it still adds this to the instances where it isn't correct
            //       this.cart.push(lesson);
            //     }
            //     // }
            //     // continue;

            //   }
            // this.cart.map((element, index) => {
            //   if (element.id == lesson.id) {
            //     console.log(lesson.id + " " + element.id);
            //     console.log(element);
            //     element.spaces += 1;
            //   }
            // });
            // lesson.availableSpace++;
            // console.log(json)
            if (lesson.availableSpace > 0) {
              lesson.availableSpace++;
            } else {
              lesson.availableSpace++;
              this.cart.push(lesson);
            }
            // lesson.availableSpace++;

            lesson.spaces--;
            // this.checkEntry();
            // }
            // if (type) {
            //   // console.log(type);
            //   --lesson.spaces;
            // } else {
            //   console.log("this is a test");
            // }
          },
          // checkEntry(lesson){
          //  return lesson.id == this.cart.
          // }
          removeFromCart(lesson) {
            // if (lesson.availableSpace > 0) {
            //   lesson.availableSpace++;
            // } else {
            //   lesson.availableSpace++;
            //   this.cart.push(lesson);
            // }
            // lesson.availableSpace++;

            this.afterSchoolActivity.map((element) => {
              if (lesson.id == element.id) {
                lesson.spaces++;
                lesson.availableSpace--;
              }
            });

            // if(lesson.availableSpace == 0){
            this.cart = this.cart.filter(
              (element) => element.availableSpace != 0
            );
            // }
            // lesson.spaces--;
          },
          sortLessons(selected) {
            this.selected = "";
            this.initialRender = true;

            switch (selected) {
              case "subject":
                this.afterSchoolActivity = this.afterSchoolActivity.sort(
                  (a, b) => a.subject.localeCompare(b.subject)
                );
                break;
              case "location":
                this.afterSchoolActivity = this.afterSchoolActivity.sort(
                  (a, b) => a.location.localeCompare(b.location)
                );
                break;
              case "price":
                this.afterSchoolActivity = this.afterSchoolActivity.sort(
                  (a, b) => parseFloat(a.price) - parseFloat(b.price)
                );
                break;
              case "spaces":
                this.afterSchoolActivity = this.afterSchoolActivity.sort(
                  (a, b) => a.spaces - b.spaces
                );
                break;
            }
            // Sort the afterSchoolActivity array by the "subject" property in ascending order

            // this.homes.sort((current,next)=>{ return current.city.localeCompare(next.city)});
          },
          orderLesson() {
            this.initialRender = false;
            this.afterSchoolActivity.reverse();
          },
          checkout() {
            alert(`Dear ${this.name} your order has been submitted`);
          },
        },
      });
    </script>
  </body>
</html>

//Todo : display list of lessons B //Do we have to sort the cart Too
